.cardShelf{
    width: 264px;
    position: relative;
    
}


.wrapper-cardShelf{
    border: 1px solid #ccc;
    height: 414px;
    border-radius: 16px;
    position: relative;
    transition: width 2s;
    background: #fff;
}

.wrapper-cardShelf:hover .cardShelf-imgproduct img{
    transition: 0.2s;
    width: 60%;
} 

.cardShelf-imgproduct{
    padding: 64px 56px 4px 56px;
}

.cardShelf-imgproduct img{
    width: 100%;
}

.cardShelf-nameproduct{
    padding: 0 24px;
}

.cardShelf-nameproduct p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: black;
    height: 40px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}



.shelfcards{
    margin-bottom: 64px;
}

.shelfcards .slick-slider{
    position: relative;
}

.shelfcards .slick-list{
    max-width: 1150px !important;
    margin: 0 auto !important;
    text-align: -webkit-center;
}

.shelfcards .slick-next{
    display: block;
    position: absolute;
    top: -44px;
    right: 110px;
    width: 42px;
    height: 42px;
}

.shelfcards .slick-prev{
    display: block;
    position: absolute;
    top: -44px;
    right: 165px;
    width: 42px;
    height: 42px;
    left: inherit;
}

.shelfcards h2{
    margin: 0;
    padding: 0 56px 32px 56px;
    max-width: 100%;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.5px;
}

.cardShelf .wish{
    position: absolute;
    right: 26px;
    top: 27px;
    z-index: 2;
    cursor: pointer;
}


.cardShelf .wish button{
    background: none;
    border: none;
}

.favorite{
    font-size:  24px;
    color: #FF7020;
    cursor: pointer;
}

.nofavorite{
    font-size:  24px;
    color: #000;
    cursor: pointer;
}

.emptyTag{
    margin-top:43px;
}

.allPrices{
    display: flex;
    margin: 0 24px 16px;
    justify-content: flex-start;
    text-align: left;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    color: #0F0F0E;
}

.cardShelf .milesPrice{
    display: none;
}

.wrapper-cardShelf:hover .milesPrice{
    display: block;
}

.cardShelf .milesPrice .priceValueInMilles{
    color: #FF7020;
    font-weight: 700;
    font-size: 16px;
}

.cardShelf .milesPrice .priceValue{
    color: #FF7020;
    font-size: 14px;
}


.cardShelf .milesPrice{
    position: relative;
    top: 20px;
    background: #fff;
}

.cardShelf .milesPrice p,
.cardShelf .price p{
    margin: 0;
}

.cardShelf .price .asFrom,
.cardShelf .earnMiles{
    font-size: 14px;
    color: #666;
}

.cardShelf .price .priceValueInMilles{
    color:#663399;
    font-weight: 700;
    font-size: 16px;
}

.cardShelf .price .priceValue {
    font-size: 14px;
}

.cardShelf .price .priceValue span,
.cardShelf .milesPrice .ClubOrDiamant{
    font-size: 14px;
    color: #663399;
}

#mainCardShelf{
    width: 40% !important;
}


/* SHELF CARD 3 */

.shelfalone{
    margin-bottom: 76px;
}

.shelfalone .slick-list{
    padding: 40px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#shelf-slide-alone{
    max-width: 1128px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

#shelf-slide-alone > img{
    position: absolute;
    width: 100%;
    max-width: 1128px;
    max-height: 506px;
    height: 100%;
    border-radius: 16px;
    filter: brightness(0.7);
    
}

.shelf-txt-slide-alone{
    width: 60%;
    padding: 40px;
}

.shelf-txt-slide-alone h2{
    padding: 0;
    width: 410px;
    font-size: 32px;
    color: #fff;
    line-height: 40px;
    letter-spacing: -1px;
}

.shelf-txt-slide-alone button{
    margin-top: 24px;
    padding: 11px 16px;
    border: none;
    border-radius: 16px;
    background: #FF7020;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.shelf-txt-slide-alone > div{
    transform: translate(0, 100%);
}

#shelf-slide-alone .slick-slider{
    width: 40%;
}

#shelf-slide-alone .slick-prev{
    display: block;
    position: absolute;
    
    top: 240px;
    left: 20px;
    z-index: 1;
}

#shelf-slide-alone .slick-next{
    display: block;
    position: absolute;

    top: 240px;
    right: 20px;
}

.shelfhr{
    max-width: 1128px;
    margin: 72px auto;
    background: #ccc;
    border: none;
    height: 1px;

}

/* SHELF CARD 6*/

.shelfcards6{
    margin: 72px auto;
    max-width: 1128px;
    display: flex;
    gap: 24px;
    height: 525px;
}

.shelfCard6-leftside{
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper-shelf6-txt{
    padding: 40px;
    color: #fff;
}

.wrapper-shelf6-txt h1{
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -1px;
    width: 320px;
    font-size: 32px;
}

.wrapper-shelf6-txt p{
    width: 320px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.wrapper-shelf6-txt button{
    padding: 11px 16px;
    border-radius: 16px;
    border: none;
    background: #FF7020;
    font-weight: 700;
    font-size: 14px;
    color: #000;
    cursor: pointer;
}

.shelfCard6-leftside img{
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.shelf6-btns{
    padding: 40px;
    display: flex;
    gap: 24px;
}

.shelf6-btns button{
    padding: 8px 16px 8px 16px;
    font-size: 14px;
    border: 1px solid #fff;
    border-radius: 16px;
    background: none;
    color: #fff;
    cursor: pointer;
}

.shelfCard6-rightsite{
    width: 50%;
}



.cardShelf6{
    width: 552px;
    margin: 0 auto 26px;
    
}

.wrapper-cardShelf6 {
    width: 552px;
    height: 246px;
}

.wrapper-cardShelf6 .allPrices{
    height: -webkit-fill-available;
    margin: 24px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr 75px;
}

.wrapper-cardShelf6 .wish{
    grid-column: 3;
    grid-row: 1;
    top: 0;
    right: 0;
}

.wrapper-cardShelf6 .cardShelf-imgproduct{
    grid-column: 1;
    grid-row: 1 / span 3;
    padding: 0;
    justify-self: center;
    align-self: center;
}

.wrapper-cardShelf6 .cardShelf-nameproduct{
    grid-column: 2;
    padding: 0;
}

.wrapper-cardShelf6 .cardShelf-nameproduct p{
    text-align: left;
}

.wrapper-cardShelf6 .milesPrice{
    display: block;
    opacity: 0;
    grid-column: 2;
}

.wrapper-cardShelf6 .allPrices .price{
    grid-column: 2;
} 

.wrapper-cardShelf6:hover .milesPrice{
    display: block;
    opacity: 1;
}

.wrapper-cardShelf6:hover .allPrices .price{
    top: 15px;
}

.wrapper-cardShelf6:hover .cardShelf-imgproduct img{
    width: 100%;
}

.shelfcards6 .slick-next{
    transform: rotate(-90deg);
    display: none !important;
}

.shelfcards6 .slick-prev{
    transform: rotate(-90deg);
    display: none !important;
}